In [1]:
#Lets first install the selenium library
! pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
#Lets now import all the required libraries

import selenium                     #library that is used to work with selenium
import pandas as pd                 #to create dataframe
from selenium import webdriver      #importing webdriver module from selenium to open up automated chrome window
import warnings                     #to ignore any sort of warning
warnings.filterwarnings("ignore")
import time                         #use to stop search engine for few seconds

In [3]:
#Lets first connect to the web driver
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

# Q1

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
    1. First get the webpage https://www.naukri.com/
    2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
    location” field.
    3. Then click the search button.
    4. Then scrape the data for the first 10 jobs results you get.
    5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [4]:
#opening up naukri.com website on automated chrome window
driver.get('https://www.naukri.com/')

In [5]:
#finding element for job search bar
search_field_designation = driver.find_element_by_class_name("suggestor-input ")  #job search bar
search_field_designation.send_keys("Data Analyst")

In [6]:
#finding element for job location
search_field_location = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input') #location search bar
search_field_location.send_keys("Bangalore")

In [8]:
#clicking on search button
search_button = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [9]:
#creating empty lists
job_titles = []
job_locations = []
company_names = []
job_experiences = []

In [10]:
#now lets extract all the tags having the job-titles
titles_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']") #locating web element of title

for i in titles_tags:               #iterating over web element of title
    title = i.text                  #extracting text from each web element
    job_titles.append(title)        #appending each extracted text into empty list
job_titles[0:10]                     #printing top 10 data

['Data Analyst / Business Analyst',
 'Data Analyst / Business Analyst',
 'data analyst/ data analytics / Business analyst- SQL/Python/SAS',
 'Business analyst + data Analysis',
 'Data Analyst',
 'Associate Professional Data Analyst',
 'Business and Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Data Analyst']

In [11]:
#now lets extract all the tags having the job location names
locations_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")  #locating web element of location

for i in locations_tags:                 #iterating over web element of location name
    location = i.text                    #extracting text from each web element
    job_locations.append(location)       #appending each extracted text into empty list
job_locations[0:10]                      #printing top 10 data

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [12]:
#now lets extract all the tags having the company names
companies_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")  #locating web element of comapny name

for i in companies_tags:                 #iterating over web element of company name
    company_name = i.text                #extracting text from each web element
    company_names.append(company_name)   #appending each extracted text into empty list
company_names[0:10]                       #printing top 10 results

['METRO Cash & Carry',
 'METRO Cash & Carry',
 'Leading US MNC into Analytics',
 'Anlage Infotech (I) Pvt. Ltd.',
 'upGrad',
 'DXC Technology',
 'CAREERDOST ENTERPRISE',
 'Flipkart',
 'Thomson Reuters',
 'referral']

In [13]:
#now lets extract all the tags having the experience required data
experience_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")  #locating web element of experience required data

for i in experience_tags:               #iterating over web element of required job experience        
    experience = i.text                 #extracting text from each web element 
    job_experiences.append(experience)  #appending each extracted text into empty list
job_experiences[0:10]                   #printing top 10 results

['3-8 Yrs',
 '3-8 Yrs',
 '2-7 Yrs',
 '5-10 Yrs',
 '1-3 Yrs',
 '3-6 Yrs',
 '0-5 Yrs',
 '3-7 Yrs',
 '2-4 Yrs',
 '2-5 Yrs']

In [14]:
#makig a dataframe

jobs = pd.DataFrame({})
jobs['job-title'] = job_titles[0:10]
jobs[' job-location'] =  job_locations[0:10]
jobs['company_name'] = company_names[0:10]
jobs['experience_required'] = job_experiences[0:10]

jobs

,job-title,job-location,company_name,experience_required
0,Data Analyst / Business Analyst,Bangalore/Bengaluru,METRO Cash & Carry,3-8 Yrs
1,Data Analyst / Business Analyst,Bangalore/Bengaluru,METRO Cash & Carry,3-8 Yrs
2,data analyst/ data analytics / Business analys...,"Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi /...",Leading US MNC into Analytics,2-7 Yrs
3,Business analyst + data Analysis,"Hyderabad/Secunderabad, Bangalore/Bengaluru",Anlage Infotech (I) Pvt. Ltd.,5-10 Yrs
4,Data Analyst,Bangalore/Bengaluru,upGrad,1-3 Yrs
5,Associate Professional Data Analyst,Bangalore/Bengaluru,DXC Technology,3-6 Yrs
6,Business and Data Analyst,Bangalore/Bengaluru,CAREERDOST ENTERPRISE,0-5 Yrs
7,Senior Data Analyst,Bangalore/Bengaluru,Flipkart,3-7 Yrs
8,Senior Data Analyst,Bangalore/Bengaluru,Thomson Reuters,2-4 Yrs
9,Data Analyst,Bangalore/Bengaluru,referral,2-5 Yrs

In [15]:
#to close automated chrome window
driver.close()

# Q2

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
    1. First get the webpage https://www.naukri.com/
    2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
    location” field.
    3. Then click the search button.
    4. Then scrape the data for the first 10 jobs results you get.
    5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [16]:
#Lets first connect to the web driver
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [17]:
#opening up naukri.com website on automated chrome window
driver.get('https://www.naukri.com/')

In [18]:
#finding element for job search bar
search_field_designation = driver.find_element_by_class_name("suggestor-input ")  #job search bar
search_field_designation.send_keys("Data Scientist")

In [19]:
#finding element for job location
search_field_location = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input') #location search bar
search_field_location.send_keys("Bangalore")

In [21]:
#clicking on search button
search_button = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [22]:
#creating empty lists
job_titles = []
job_locations = []
company_names = []
job_experiences = []

In [23]:
#now lets extract all the tags having the job-titles
titles_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']") #locating web element of title

for i in titles_tags:               #iterating over web element of title
    title = i.text                  #extracting text from each web element
    job_titles.append(title)        #appending each extracted text into empty list
job_titles[0:10]                     #printing top 10 data

['Senior Data Scientist',
 'Sr. Analyst - Applied Data Scientist',
 'Applied Data Scientist / ML Senior Engineer (Python / SQL)',
 'Data Scientist',
 'Expert Data Scientist',
 'Principal Data Scientist',
 'Analyst - Applied Data Scientist',
 'Research Data Scientist',
 'Senior Data Scientist Grade12',
 'Senior Data Scientist Grade12']

In [24]:
#now lets extract all the tags having the job location names
locations_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")  #locating web element of location

for i in locations_tags:                 #iterating over web element of location name
    location = i.text                    #extracting text from each web element
    job_locations.append(location)       #appending each extracted text into empty list
job_locations[0:10]                      #printing top 10 data

['Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [25]:
#now lets extract all the tags having the company names
companies_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")  #locating web element of comapny name

for i in companies_tags:                 #iterating over web element of company name
    company_name = i.text                #extracting text from each web element
    company_names.append(company_name)   #appending each extracted text into empty list
company_names[0:10]                       #printing top 10 results

['UPL',
 'Tesco',
 'SAP India Pvt.Ltd',
 'UPL',
 'UPL',
 'UPL',
 'Tesco',
 'Mavenir',
 'Flipkart',
 'Flipkart']

In [26]:
#now lets extract all the tags having the experience required data
experience_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")  #locating web element of experience required data

for i in experience_tags:               #iterating over web element of required job experience        
    experience = i.text                 #extracting text from each web element 
    job_experiences.append(experience)  #appending each extracted text into empty list
job_experiences[0:10]                   #printing top 10 results

['3-6 Yrs',
 '3-5 Yrs',
 '5-10 Yrs',
 '1-4 Yrs',
 '6-9 Yrs',
 '12-16 Yrs',
 '1-2 Yrs',
 '4-9 Yrs',
 '5-10 Yrs',
 '5-7 Yrs']

In [27]:
#makig a dataframe

jobs = pd.DataFrame({})
jobs['job-title'] = job_titles[0:10]
jobs[' job-location'] =  job_locations[0:10]
jobs['company_name'] = company_names[0:10]
jobs['experience_required'] = job_experiences[0:10]

jobs

,job-title,job-location,company_name,experience_required
0,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",UPL,3-6 Yrs
1,Sr. Analyst - Applied Data Scientist,Bangalore/Bengaluru,Tesco,3-5 Yrs
2,Applied Data Scientist / ML Senior Engineer (P...,Bangalore/Bengaluru,SAP India Pvt.Ltd,5-10 Yrs
3,Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",UPL,1-4 Yrs
4,Expert Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",UPL,6-9 Yrs
5,Principal Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",UPL,12-16 Yrs
6,Analyst - Applied Data Scientist,Bangalore/Bengaluru,Tesco,1-2 Yrs
7,Research Data Scientist,Bangalore/Bengaluru,Mavenir,4-9 Yrs
8,Senior Data Scientist Grade12,Bangalore/Bengaluru,Flipkart,5-10 Yrs
9,Senior Data Scientist Grade12,Bangalore/Bengaluru,Flipkart,5-7 Yrs

In [28]:
#to close automated chrome window
driver.close()

# Q3

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
        
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [29]:
#Lets first connect to the web driver
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [30]:
#opening up naukri.com website on automated chrome window
driver.get('https://www.naukri.com/')

In [31]:
#finding element for job search bar
search_field_designation = driver.find_element_by_class_name("suggestor-input ")  #job search bar
search_field_designation.send_keys("Data Scientist")

In [36]:
#clicking on search button
search_button = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [37]:
#applying filter on a given location
apply_location_filter = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[3]/label/p/span[1]")
apply_location_filter.click()

In [38]:
#applying filter on a given salary
apply_salary_filter = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]")
apply_salary_filter.click()

In [39]:
#creating empty lists
job_titles = []
job_locations = []
company_names = []
job_experiences = []

In [40]:
#now lets extract all the tags having the job-titles
titles_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']") #locating web element of title

for i in titles_tags:               #iterating over web element of title
    title = i.text                  #extracting text from each web element
    job_titles.append(title)        #appending each extracted text into empty list
job_titles[0:10]                     #printing top 10 data

['Data Scientist - Internet Jobs - II',
 'Data Scientist',
 'Junior Data Scientist',
 'Associate Scientist - Data Engineering',
 'Data Scientist || Software Company || Immediate Joiners To max 30 Days',
 'Data Scientist (freelance)',
 'Data Scientist/ Machine Learning, 2022 Passout Can also apply',
 'Data Scientist',
 'Associate Data Scientist',
 'Hiring For Data Analyst and Data Scientist For Gurgaon Location']

In [41]:
#now lets extract all the tags having the job location names
locations_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")  #locating web element of location

for i in locations_tags:                 #iterating over web element of location name
    location = i.text                    #extracting text from each web element
    job_locations.append(location)       #appending each extracted text into empty list
job_locations[0:10]                      #printing top 10 data

['Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Noida, Bangalore/Bengaluru',
 'Noida',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'New Delhi, Delhi',
 'Hyderabad/Secunderabad, Pune, Chennai, Delhi / NCR, Vadodara, Mumbai (All Areas)',
 'Gurgaon, Bengaluru',
 'Gurgaon/Gurugram',
 'Noida, Gurgaon/Gurugram, Delhi / NCR']

In [42]:
#now lets extract all the tags having the company names
companies_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")  #locating web element of comapny name

for i in companies_tags:                 #iterating over web element of company name
    company_name = i.text                #extracting text from each web element
    company_names.append(company_name)   #appending each extracted text into empty list
company_names[0:10]                       #printing top 10 results

['Jobs Territory',
 'Ashkom Media India Private Limited',
 'EASY DATA ANALYTICS TECHNOLOGY PRIVATE LIMITED',
 'AXA Technology Services India Pvt. Ltd',
 'Skyleaf Consultants',
 '2Coms',
 'Creative Hands HR Consultancy',
 'BlackBuck',
 'Optum',
 'Shadow Placements']

In [43]:
#now lets extract all the tags having the experience required data
experience_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")  #locating web element of experience required data

for i in experience_tags:               #iterating over web element of required job experience        
    experience = i.text                 #extracting text from each web element 
    job_experiences.append(experience)  #appending each extracted text into empty list
job_experiences[0:10]                   #printing top 10 results

['3-6 Yrs',
 '3-6 Yrs',
 '1-2 Yrs',
 '2-5 Yrs',
 '3-8 Yrs',
 '2-7 Yrs',
 '0-4 Yrs',
 '3-7 Yrs',
 '1-5 Yrs',
 '3-7 Yrs']

In [44]:
#makig a dataframe

jobs = pd.DataFrame({})
jobs['job-title'] = job_titles[0:10]
jobs[' job-location'] =  job_locations[0:10]
jobs['company_name'] = company_names[0:10]
jobs['experience_required'] = job_experiences[0:10]

jobs

,job-title,job-location,company_name,experience_required
0,Data Scientist - Internet Jobs - II,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Jobs Territory,3-6 Yrs
1,Data Scientist,"Noida, Bangalore/Bengaluru",Ashkom Media India Private Limited,3-6 Yrs
2,Junior Data Scientist,Noida,EASY DATA ANALYTICS TECHNOLOGY PRIVATE LIMITED,1-2 Yrs
3,Associate Scientist - Data Engineering,Gurgaon/Gurugram,AXA Technology Services India Pvt. Ltd,2-5 Yrs
4,Data Scientist || Software Company || Immediat...,"Gurgaon/Gurugram, Bangalore/Bengaluru",Skyleaf Consultants,3-8 Yrs
5,Data Scientist (freelance),"New Delhi, Delhi",2Coms,2-7 Yrs
6,"Data Scientist/ Machine Learning, 2022 Passout...","Hyderabad/Secunderabad, Pune, Chennai, Delhi /...",Creative Hands HR Consultancy,0-4 Yrs
7,Data Scientist,"Gurgaon, Bengaluru",BlackBuck,3-7 Yrs
8,Associate Data Scientist,Gurgaon/Gurugram,Optum,1-5 Yrs
9,Hiring For Data Analyst and Data Scientist For...,"Noida, Gurgaon/Gurugram, Delhi / NCR",Shadow Placements,3-7 Yrs

In [45]:
#to close automated chrome window
driver.close()

# Q4

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
    1. Brand
    2. Product Description
    3. Price
The attributes which you have to scrape is ticked marked in the below image.

To scrape the data you have to go through following steps:
    1. Go to Flipkart webpage by url : https://www.flipkart.com/
    2. Enter “sunglasses” in the search field where “search for products, brands andmore” is written and
    click the search icon
    3. After that you will reach to the page having a lot of sunglasses. From this pageyou can scrap the
    required data as usual.
    4. After scraping data from the first page, go to the “Next” Button at the bottom ofthe page , then
    click on it.
    5. Now scrape data from this page as usual
    6. Repeat this until you get data for 100 sunglasses.
Note: That all of the above steps have to be done by coding only and not manually.

In [47]:
#Lets first connect to the web driver
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [48]:
#opening up flipkart.com website on automated chrome window
driver.get(' https://www.flipkart.com/')

In [49]:
#finding element for product search bar
search_field_product = driver.find_element_by_class_name("_3704LK")  #product search bar
search_field_product.send_keys("sunglasses")

In [50]:
#clicking on search button
search_button = driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_button.click()

In [51]:
#creating empty list
brand_name_list = [] 
product_desc_list = []
price_list = []
discount_list = []

In [52]:
for i in range(0,3):    #running for loop with range to run this loop 3 times
    
    brand_name_tags = driver.find_elements_by_xpath("//div[@class='_2WkVRV']") #locating web element of brand name
    for i in brand_name_tags:               #iterating over web element of brand name
        brand_name = i.text                  #fetching text from the web element
        brand_name_list.append(brand_name)        #appending data(text) into the empty list
        
    product_desc_tags = driver.find_elements_by_xpath("//a[@class='IRpwTa']") #locating web element of product description
    for i in product_desc_tags:               #iterating over web element of product description
        product_desc = i.text                  #fetching text from the web element
        product_desc_list.append(product_desc)        #appending data(text) into the empty list
        
    price_tags = driver.find_elements_by_xpath("//a[@class='_3bPFwb']/div[1]/div[1]") #locating web element of product price
    for i in price_tags:               #iterating over web element of product price
        price = i.text                  #fetching text from the web element
        price_list.append(price)        #appending data(text) into the empty list
        
    discount_tags = driver.find_elements_by_xpath("//a[@class='_3bPFwb']/div[1]/div[3]") #locating web element of product discount
    for i in discount_tags:               #iterating over web element of product discount
        discount = i.text                  #fetching text from the web element
        discount_list.append(discount)        #appending data(text) into the empty list    
    
    next_button = driver.find_element_by_class_name("_1LKTO3")
    next_button.click()            #locating web element of next button and then clicking on next button
    
    time.sleep(5)                  #using time to pause the search engine for 5 sec

In [53]:
#makig a dataframe

product_details = pd.DataFrame({})
product_details['Brand Name'] = brand_name_list[0:100]
product_details['Product Description'] =  product_desc_list[0:100]
product_details['Price'] = price_list[0:100]
product_details['Discount'] = discount_list[0:100]

product_details

,Brand Name,Product Description,Price,Discount
0,Singco India,"Riding Glasses, UV Protection Clubmaster, Wayf...",₹329,83% off
1,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",₹630,78% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹647,28% off
3,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",₹283,78% off
4,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹639,20% off
...,...,...,...,...
95,VINCENT CHASE,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹729,70% off
96,Mi,UV Protection Round Sunglasses (Free Size),₹764,23% off
97,Fastrack,"UV Protection, Gradient Cat-eye, Wayfarer Sung...",₹575,28% off
98,New Specs,UV Protection Wayfarer Sunglasses (Free Size),₹264,79% off
99,AISLIN,"UV Protection, Riding Glasses Rectangular, Way...",₹695,78% off

In [54]:
#to close automated chrome window
driver.close()

# Q5

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.

When you will open the above link you will reach to the below shown webpage .
As shown in the above page you have to scrape the tick marked attributes.These are:
    1. Rating
    2. Review summary
    3. Full review
    4. You have to scrape this data for first 100 reviews.
Note: All the steps required during scraping should be done through code only and not manually.

In [55]:
#Lets first connect to the web driver
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [56]:
#opening up given website on automated chrome window
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')

In [57]:
#clicking on all reviews button so that we can scrap all the data together
all_review_button = driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div/div/div[5]/div/a/div")
all_review_button.click()            #locating web element of all reviews button and then clicking on that button

In [58]:
#creating empty list
ratings_list = [] 
review_summary_list = []
full_review_list = []          


for i in range(0,10):    #running for loop with range to run this loop 9 times
    
    rating_tags = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']") #locating web element of ratings
    for i in rating_tags:               #iterating over web element of rating
        ratings = i.text                  #extracting text from each web element
        ratings_list.append(ratings)        #appending each extracted text into empty list
        
    review_summary_tags = driver.find_elements_by_xpath("//p[@class='_2-N8zT']") #locating web element of review summary
    for i in review_summary_tags:               #iterating over web element of review summary
        review_summary = i.text                  #fetching text from the web element
        review_summary_list.append(review_summary)        #appending data(text) into the empty list
        
    full_review_tags = driver.find_elements_by_xpath("//div[@class='t-ZTKy']") #locating web element of full review
    for i in full_review_tags:               #iterating over web element of full review
        full_review = i.text                  #fetching text from the web element
        full_review_list.append(full_review)        #appending data(text) into the empty list
        
    next_button = driver.find_element_by_class_name("_1LKTO3")
    next_button.click()            #locating web element of next button and then clicking on next button
    
    time.sleep(5)                  #using time to pause the search engine for 5 sec

In [59]:
#makig a dataframe

data = pd.DataFrame({})
data['Ratings'] = ratings_list[0:100]
data['Review Summary'] =  review_summary_list[0:100]
data['Full Review'] = full_review_list[0:100]

data

,Ratings,Review Summary,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
96,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
97,5,Simply awesome,"Excellent camera, good performance, no lag. Th..."
98,5,Classy product,Totally in love with this ❤ the camera quality...
99,5,Terrific,Really worth of money. i just love it. It is t...

In [60]:
#to close automated chrome window
driver.close()

# Q6

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
    1. Brand
    2. Product Description
    3. Price
As shown in the below image, you have to scrape the tick marked attributes.
Note: All the steps required during scraping should be done through code only and not manually.

In [61]:
#Lets first connect to the web driver
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [62]:
#opening up flipkart.com website on automated chrome window
driver.get(' https://www.flipkart.com/')

In [63]:
#finding element for product search bar
search_field_product = driver.find_element_by_class_name("_3704LK")  #product search bar
search_field_product.send_keys("sneakers")

In [65]:
#clicking on search button
search_button = driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_button.click()

In [66]:
#creating empty list
brand_name_list = [] 
product_desc_list = []
price_list = []
discount_list = []

In [67]:
for i in range(0,3):    #running for loop with range to run this loop 3 times
    
    brand_name_tags = driver.find_elements_by_xpath("//div[@class='_2WkVRV']") #locating web element of brand name
    for i in brand_name_tags:               #iterating over web element of brand name
        brand_name = i.text                  #fetching text from the web element
        brand_name_list.append(brand_name)        #appending data(text) into the empty list
        
    product_desc_tags = driver.find_elements_by_xpath("//a[@class='IRpwTa']") #locating web element of product description
    for i in product_desc_tags:               #iterating over web element of product description
        product_desc = i.text                  #fetching text from the web element
        product_desc_list.append(product_desc)        #appending data(text) into the empty list
        
    price_tags = driver.find_elements_by_xpath("//a[@class='_3bPFwb']/div[1]/div[1]") #locating web element of product price
    for i in price_tags:               #iterating over web element of product price
        price = i.text                  #fetching text from the web element
        price_list.append(price)        #appending data(text) into the empty list
        
    discount_tags = driver.find_elements_by_xpath("//a[@class='_3bPFwb']/div[1]/div[3]") #locating web element of product discount
    for i in discount_tags:               #iterating over web element of product discount
        discount = i.text                  #fetching text from the web element
        discount_list.append(discount)        #appending data(text) into the empty list    
    
    next_button = driver.find_element_by_class_name("_1LKTO3")
    next_button.click()            #locating web element of next button and then clicking on next button
    
    time.sleep(5)                  #using time to pause the search engine for 5 sec

In [68]:
#makig a dataframe

product_details = pd.DataFrame({})
product_details['Brand Name'] = brand_name_list[0:100]
product_details['Product Description'] =  product_desc_list[0:100]
product_details['Price'] = price_list[0:100]
product_details['Discount'] = discount_list[0:100]

product_details

,Brand Name,Product Description,Price,Discount
0,URBANBOX,Modern Trendy Sneakers Shoes Sneakers For Men,₹158,84% off
1,BRUTON,Sneakers For Men,₹245,81% off
2,HRX by Hrithik Roshan,"Stylish Comfortable Lightweight, Breathable Wa...",₹692,80% off
3,BIRDE,Sneakers For Men,₹269,73% off
4,Magnolia,STYLISH MENS BLACK SNEAKER Sneakers For Men,₹351,64% off
...,...,...,...,...
95,SCATCHITE,5011-Latest Collection Stylish & Trendy Casual...,₹348,65% off
96,ASTEROID,516 Trendy Star Perfect Sneakers For Men,₹449,77% off
97,Chevit,Combo Pack of 2 Casual Shoes For Men Sneakers ...,₹219,78% off
98,ONECENTRE,Combo Pack of 3 Casual Shoes Sneakers For Men,₹250,60% off
99,CLYMB,Ebernon Low Sneakers For Men,₹599,60% off

In [69]:
#to close automated chrome window
driver.close()

# Q7

Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image.
Note: Applying the filter and scraping the data, everything should be done through code only and there
should not be any manual step.

In [70]:
#Lets first connect to the web driver
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [71]:
#opening up myntra.com website on automated chrome window
driver.get('https://www.myntra.com/shoes')

In [72]:
#applying filter on a given colour
apply_colour_filter = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label")
apply_colour_filter.click()

In [73]:
#applying filter on a given price
apply_price_filter = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label")
apply_price_filter.click()

In [74]:
#creating empty list
brand_name_list = [] 
short_desc_list = []
price_list = []

In [79]:
for i in range(0,2):    #running for loop with range to run this loop 2 times
    
    brand_name_tags = driver.find_elements_by_xpath("//h3[@class='product-brand']") #locating web element of brand name
    for i in brand_name_tags:               #iterating over web element of brand name
        brand_name = i.text                  #fetching text from the web element
        brand_name_list.append(brand_name)        #appending data(text) into the empty list
        
    short_desc_tags = driver.find_elements_by_xpath("//h4[@class='product-product']") #locating web element of short shoe description
    for i in short_desc_tags:               #iterating over web element of short shoe description
        short_desc = i.text                  #fetching text from the web element
        short_desc_list.append(short_desc)        #appending data(text) into the empty list
        
    price_tags = driver.find_elements_by_xpath("//div[@class='product-price']/span") #locating web element of shoe price
    for i in price_tags:               #iterating over web element of shoe price
        price = i.text                  #fetching text from the web element
        price_list.append(price)        #appending data(text) into the empty list
        
   
    next_button = driver.find_element_by_class_name("pagination-next")
    next_button.click()            #locating web element of next button and then clicking on next button
    
    time.sleep(5)                  #using time to pause the search engine for 5 sec

In [80]:
#makig a dataframe

product_details = pd.DataFrame({})
product_details['Brand Name'] = brand_name_list[0:100]
product_details['Shoe Short Description'] =  short_desc_list[0:100]
product_details['Price'] = price_list[0:100]

product_details

      Brand Name          Shoe Short Description                        Price
0       Skechers      Men Max Cushioning Running    Rs. 7199Rs. 8999(20% OFF)
1           ALDO                    Men Sneakers                     Rs. 9999
2           Nike  Men React Miler2 Running Shoes                    Rs. 11495
3   UNDER ARMOUR   Men Charged Rouge 3 Run Shoes                     Rs. 7999
4           Nike  Women React MR 3 Running Shoes   Rs. 8920Rs. 10495(15% OFF)
..           ...                             ...                          ...
95       Bugatti            Women Textured Mules                     Rs. 7999
96     J.FONTINI      Men Leather Formal Loafers                     Rs. 7490
97          ALDO           Block Pumps with Bows                     Rs. 8999
98     Cole Haan           Women Leather Loafers  Rs. 11899Rs. 16999(30% OFF)
99          ALDO                   Wedge Sandals                     Rs. 7999

[100 rows x 3 columns]

In [81]:
#to close automated chrome window
driver.close()

# Q8

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
    1. Title
    2. Ratings
    3. Price
As shown in the below image as the tick marked attributes.
Note: All the steps required during scraping should be done through code only and not manually.

In [82]:
#Lets first connect to the web driver
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [83]:
#opening up amazon.in website on automated chrome window
driver.get('https://www.amazon.in/')

In [84]:
#finding element for product search bar
search_field_product = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")  #product search bar
search_field_product.send_keys("laptop")

In [85]:
#clicking on search button
search_button = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search_button.click()

In [87]:
#applying filter on a given cpu type filter - Intel Core i7
apply_cpu_type_filter = driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[13]/span/a/div")
apply_cpu_type_filter.click()

In [ ]:
#applying filter on a given cpu type filter- Intel Core i9 
apply_cpu_type_filter = driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[4]/li[14]/span/a/div")
apply_cpu_type_filter.click()

In [88]:
#creating empty list
title_list = [] 
ratings_list = []
price_list = []

In [89]:
#now lets extract all the tags having the title, ratings and price
title_tags = driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']") #locating web element of title
for i in title_tags:               #iterating over web element of title
    title = i.text                  #fetching text from the web element
    title_list.append(title)        #appending data(text) into the empty list
        
ratings_tags = driver.find_elements_by_xpath("//span[@class='a-icon-alt']") #locating web element of ratings
for i in ratings_tags:               #iterating over web element of ratings
    ratings = i.text                  #fetching text from the web element
    ratings_list.append(ratings)        #appending data(text) into the empty list
        
price_tags = driver.find_elements_by_xpath("//span[@class='a-price']") #locating web element of price
for i in price_tags:               #iterating over web element of price
    price = i.text                  #fetching text from the web element
    price_list.append(price)        #appending data(text) into the empty list

In [90]:
#makig a dataframe

laptop_details = pd.DataFrame({})
laptop_details['Title'] = title_list[0:10]
laptop_details['Ratings'] =  ratings_list[0:10]
laptop_details['Price'] = price_list[0:10]

laptop_details

                                               Title Ratings      Price
0  Mi Notebook Ultra 3.2K Resolution Display Inte...            ₹77,999
1  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...            ₹57,490
2  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....            ₹86,900
3  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...            ₹89,990
4  HP Pavilion x360 11th Gen Intel Core i7 14 inc...            ₹85,890
5  Samsung Galaxy Book2 Intel 12th Gen core i7 39...            ₹79,990
6  HP Pavilion 14, 11th Gen Intel Core i7-16GB RA...            ₹86,990
7  LG Gram 16 inches Intel Evo 11th Gen Core i7 U...          ₹1,01,112
8  LG Gram Intel Evo 11th Gen Core i7 17 inches U...            ₹93,799
9  ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cm...            ₹92,990

In [91]:
#to close automated chrome window
driver.close()

# Q9

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
    1. First get the webpage https://www.ambitionbox.com/
    2. Click on the Job option as shown in the image
    3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
    “Data Scientist” and click on search button.
    4. You will reach to the following web page click on location and in place of “Search location” enter
    “Noida” and select location “Noida”.
    5. Then scrape the data for the first 10 jobs results you get on the above shown page.
    6. Finally create a dataframe of the scraped data.
Note: All the steps required during scraping should be done through code only and not manually.

In [92]:
#Lets first connect to the web driver
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [93]:
#opening up ambitionbox.com website on automated chrome window
driver.get('https://www.ambitionbox.com/')

In [94]:
#clicking on job option in the given website
click_on_job_option = driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[6]")
click_on_job_option.click()

In [95]:
#finding element for job search bar
search_field_designation = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")  #job search bar
search_field_designation.send_keys("Data Scientist")

In [96]:
#clicking on search button
search_button = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button")
search_button.click()

In [97]:
#clicking on location
click_on_location = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]")
click_on_location.click()

In [98]:
#finding element for location
search_field_location = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
search_field_location.send_keys("Noida")

In [99]:
#clicking on noida location
click_on_noida = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label")
click_on_noida.click()

In [100]:
#creating empty list
company_name_list = []
ratings_list = []
no_of_days_list = []

#now lets extract all the tags having the company name, ratings and no of days ago job was posted
company_name_tags = driver.find_elements_by_xpath("//a[@class='title noclick']") #locating web element of company name
for i in company_name_tags:               #iterating over web element of company name 
    company_name = i.text                  #fetching text from the web element
    company_name_list.append(company_name)        #appending data(text) into the empty list
        
ratings_tags = driver.find_elements_by_xpath("//span[@class='body-small']") #locating web element of ratings
for i in ratings_tags:               #iterating over web element of ratings
    ratings = i.text                  #fetching text from the web element
    ratings_list.append(ratings)        #appending data(text) into the empty list
        
no_of_days_tags = driver.find_elements_by_xpath("//div[@class='other-info']/span[1]") #locating web element of no of days
for i in no_of_days_tags:               #iterating over web element of no of days
    no_of_days = i.text                  #fetching text from the web element
    no_of_days_list.append(no_of_days)        #appending data(text) into the empty list

In [101]:
#makig a dataframe

job_details = pd.DataFrame({})
job_details['Company Name'] = company_name_list[0:10]
job_details['No of days ago when job was posted'] =  no_of_days_list[0:10]
job_details['Ratings'] = ratings_list[0:10]

job_details

,Company Name,No of days ago when job was posted,Ratings
0,Data Scientist,2d ago,4.3
1,Data Scientist- AI/ML- R&D,12d ago,3.9
2,Data Scientist,24d ago,4.0
3,Oracle HCM BI Technical Lead/Manager (People A...,10d ago,3.9
4,Hiring For Data Scientist + Python/R+ Predicti...,1mon ago,4.0
5,Data Scientist - Immediate Joiners,19d ago,3.8
6,Data Scientist - Machine Learning (5-14 yrs),23d ago,4.1
7,Data Scientist- Fresher Opening - Newgen Softw...,25d ago,3.6
8,Data Scientist,10d ago,3.7
9,Senior Data Scientist,1mon ago,4.2

In [102]:
#to close automated chrome window
driver.close()

# Q10

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
    1. First get the webpage https://www.ambitionbox.com/
    2. Click on the salaries option as shown in the image.
    3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and
    then click on “Data Scientist”.
    You have to scrape the data ticked in the above image.
    4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
    salary, minimum salary, maximum salary, experience required.
    5. Store the data in a dataframe.
Note: All the steps required during scraping should be done through code only and not manually

In [103]:
#Lets first connect to the web driver
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [104]:
#opening up ambitionbox.com website on automated chrome window
driver.get('https://www.ambitionbox.com/')

In [105]:
#clicking on salaries option in the given website
click_on_salaries_option = driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[4]")
click_on_salaries_option.click()

In [106]:
#finding element for job search bar
search_field_designation = driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")  #job search bar
search_field_designation.send_keys("Data Scientist")

In [ ]:
#clicking on designation           
designation = driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p") #locating web element of designation
designation.click()

In [109]:
#creating empty list
company_name_list = []
total_salary_record = []
average_salary_list = []
minimum_salary_list = []
maximum_salary_list = []
required_experience = []

#now lets extract all the tags having the company name, total salary record, average-minimum-maximum salary, experience required
company_name_tags = driver.find_elements_by_xpath("//div[@class='name']/a") #locating web element of company name
for i in company_name_tags:               #iterating over web element of company name 
    company_name = i.text                  #fetching text from the web element
    company_name_list.append(company_name)        #appending data(text) into the empty list
        
total_salary_tags = driver.find_elements_by_xpath("//div[@class='name']/span") #locating web element of total salary record
for i in total_salary_tags:               #iterating over web element of total salary record
    total_salary = i.text.replace("based on"," ")                  #fetching text from the web element
    total_salary_record.append(total_salary)        #appending data(text) into the empty list
    
average_salary_tags = driver.find_elements_by_xpath("//p[@class='averageCtc']") #locating web element of average salary
for i in average_salary_tags:               #iterating over web element of average salary
    average_salary = i.text                  #fetching text from the web element
    average_salary_list.append(average_salary)        #appending data(text) into the empty list
    
minimum_salary_tags = driver.find_elements_by_xpath("//div[@class='salary-values']/div[1]") #locating web element of minimum salary
for i in minimum_salary_tags:               #iterating over web element of minimum salary
    minimum_salary = i.text                  #fetching text from the web element
    minimum_salary_list.append(minimum_salary)        #appending data(text) into the empty list
    
maximum_salary_tags = driver.find_elements_by_xpath("//div[@class='salary-values']/div[2]") #locating web element of maximum salary
for i in maximum_salary_tags:               #iterating over web element of maximum salary
    maximum_salary = i.text                  #fetching text from the web element
    maximum_salary_list.append(maximum_salary)        #appending data(text) into the empty list
        
experience_tags = driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header']") #locating web element of required experience
for i in experience_tags:               #iterating over web element of required experience
    experience = i.text.split('\n')[-1]                  #fetching text from the web element
    required_experience.append(experience)        #appending data(text) into the empty list

In [110]:
#makig a dataframe

company_data = pd.DataFrame({})
company_data['Company Name'] = company_name_list
company_data['Total Salary Record'] =  total_salary_record
company_data['Average salary'] = average_salary_list
company_data['Minimum Salary'] = minimum_salary_list
company_data['Maximum Salary'] = maximum_salary_list
company_data['Experience required'] = required_experience

company_data

,Company Name,Total Salary Record,Average salary,Minimum Salary,Maximum Salary,Experience required
0,Walmart,11 salaries,₹ 29.7L,₹ 25.0L,₹ 35.0L,3 yrs exp
1,Ab Inbev,32 salaries,₹ 20.5L,₹ 15.0L,₹ 25.5L,3-4 yrs exp
2,Reliance Jio,10 salaries,₹ 18.9L,₹ 5.6L,₹ 26.2L,4 yrs exp
3,ZS,15 salaries,₹ 16.7L,₹ 11.0L,₹ 22.0L,2 yrs exp
4,Optum,30 salaries,₹ 15.9L,₹ 11.0L,₹ 22.6L,3-4 yrs exp
5,Fractal Analytics,82 salaries,₹ 15.4L,₹ 9.7L,₹ 23.0L,2-4 yrs exp
6,Tiger Analytics,47 salaries,₹ 14.8L,₹ 9.0L,₹ 20.0L,2-4 yrs exp
7,UnitedHealth,55 salaries,₹ 13.9L,₹ 8.3L,₹ 20.5L,2-4 yrs exp
8,Verizon,14 salaries,₹ 12.7L,₹ 10.0L,₹ 21.0L,4 yrs exp
9,Ganit Business Solutions,13 salaries,₹ 12.4L,₹ 8.5L,₹ 15.0L,4 yrs exp

In [111]:
#to close automated chrome window
driver.close()